# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/

# dotenv (секретные ключи и токены)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS and system files
.DS_Store
Thumbs.db

# Log files
*.log

# PyInstaller
*.spec
dist/
build/

# mypy and other analysis tools
.mypy_cache/
.pytest_cache/

# Cache from pip
pip-wheel-metadata/
*.egg-info/
